/* GENERAL RULES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.2rem;
}

a {
    text-decoration: none;
}

/* /GENERAL RULES */

/***** UTILITIES *****/
.flex {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

/***** /UTILITIES *****/

/* STYLE */

/* Header style*/

/* /Header style*/

/* Main style */

/* /Main style */

/* Footer style */

/* /Footer style */

/* /STYLE */

/****** DEBUG ******/
header {
    height: 90px;
}

.free-trial {
    height: 720px;
    background-color: #b4d0e7;
}

/****** DEBUG ******/