/* GENERAL RULES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.2rem;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

hr {
    display: block;
}

/* /GENERAL RULES */

/***** UTILITIES *****/
.big-container {
    max-width: 1300px;
    margin: 0 auto;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.align-items-center {
    align-items: center;
}

.blue-button {
    background-color: #0061ff;
    color: #fff;
    padding: 10px 17px;
    border: none;
    font-size: 1rem;
}

.white-button {
    background-color: #fff;
    border: 1px solid #000;
    padding: 10px 18px;
    font-size: 1.2rem;
}

/***** /UTILITIES *****/

/* STYLE */

/* Header style*/
header {
    line-height: 75px;
}

header>div {
    margin: 0 20px;
}

header a {
    color: #000;
    padding: 20px;
    vertical-align: middle;
}

header img {
    vertical-align: middle;
}

/* /Header style*/

/* Jumbo style */
.jumbo-tron {
    background-color: #b4d0e7;
}

h1 {
    font-size: 5rem;
    padding-top: 100px;
    line-height: 6rem;
    font-weight: 800;
}

.w-30 {
    width: 30%;
    margin-top: 60px;
    position: relative;
}

.w-30 * {
    margin: 20px 0;
}

.w-70 {
    width: 70%;
}

.jumbo-tron img {
    width: 100%;
    position: relative;
    top: 80px;
}

.fa-arrow-down {
    font-size: 3.5rem;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

/* /Jumbo style */

/* Main style */

/* sezione colonne con piani tariffari */
.pricing-plan {
    margin-top: 150px;
    font-size: 0.9rem;
}

.pricing-plan h2 {
    font-size: 2.5rem;

}

#radio {
    padding: 80px 0;
}

#radio span {
    padding-right: 40px;
}

input[type=radio] {
    height: 1.2rem;
    width: 1.2rem;
}

span input,
label {
    vertical-align: middle;
}

.plan-details {
    width: calc(100% / 3);
    border: 1px solid #d0d0d3;
    margin-right: 60px;
}

/* TODO sistemare margini colonne e box orizzontale */

.column-header {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #d0d0d3;
}

.column-container {
    width: 90%;
    margin: 20px auto;
    line-height: 1.8rem;
}

.column-container span {
    color: #666;
}

.plan-details ul {
    padding: 35px 0;
}

.plan-details li {
    padding: 10px;
}

.column-container .blue-button {
    margin: 0px auto 25px auto;
    display: block;
    padding: 12px 30px;
    width: 240px;
}

.column-container a {
    text-decoration: underline;
}

.column-container hr {
    width: 20%;
    margin: 35px 0;
}

.blue-check {
    color: #0061ff;
}

#horizzontal-container {
    width: 1044px;
    margin-top: 60px;
    position: relative;
}

#horizzontal-container h3,
h4 {
    padding: 10px;
}

#horizzontal-container p {
    padding: 30px 10px;
}

#horizzontal-container .blue-button {
    position: absolute;
    top: -50px;
    right: 30px;
    padding: 12px 30px;
}

/* /sezione colonne con piani tariffari */

/* SEZIONE BUSINESS */
.w-60 {
    width: 60%;
}

.w-30 {
    width: 30%;
    margin: 50px 0 0 50px;

}

.w-30 h2,
p {
    padding: 20px 0;
    line-height: 1.5rem;
}

.find-partner img {
    width: 100%;
}

/* /SEZIONE BUSINESS */

/* /Main style */

/* Footer style */

/* /Footer style */

/* /STYLE */

/****** DEBUG ******/

main section {
    min-height: 700px;
    border: 2px dashed red;
    margin: 80px 0;
}



/****** DEBUG ******/